<section class="grid-gallery">
  <div class="grid">
    <% @tournaments.each do |tournament| %>
      <div class="grid-item">
        <%= link_to tournament_images_path(tournament), class: "grid-link" do %>
          <%= image_tag('kevin.png', class: "grid-img") %>
          <h3 class="grid-item-title"><%= tournament.title %></h3>
        <%end%>
      </div>
    <% end %>
  </div>
</section>
