<section class="grid-gallery">
  <h2 class="title">Polaroid Grid</h2>
  <div class="grid">
    <% @tournaments.each do |tournament| %>
      <div class="grid-item">
        <a href="<%= tournament.link %>" class="grid-link">
          <%= image_tag('kevin.png', class: "grid-img") %>
          <h3 class="grid-item-title"><%= tournament.title %></h3>
        </a>
      </div>
    <% end %>
  </div>
</section>
