<div class="body-container">
  <section>
    <div class="content">
      <div class="main-content">
        <h1 data-aos="fade-right" data-aos-duration="2000">Atl PickleBrawl</h1>
        <h2 data-aos="fade-left" data-aos-duration="2000" data-aos-delay="200">Sign Up Now</h2>
        <h4 data-aos="fade-right" data-aos-duration="2000" data-aos-delay="400">It's always pickleball season </h4>
        <div class="order">
          <button data-aos="zoom-in-left" data-aos-duration="2000" data-aos-delay="800">Sign Up</button>
        </div>
        <p data-aos="flip-down" data-aos-duration="2000" data-aos-delay="600">See Tournament Details Down Below</p>
      </div>
      <div class="image">
        <img src="<%= image_path('pickleball.png') %>" data-aos="zoom-in" data-aos-duration="2000">
      </div>
    </div>
  </section>
</div>
<div class="tournament-container">
  <div class="flyer">
    <%= image_tag('pickle-brawl.jpg', alt: 'merch', class: 'image') %>
  </div>
  <div class="tournament-details">
    <h2>Tournament Details</h2>
    <div class="bullet-list">
      <ul>
        <li>Location: 11555 Johns Creek Pkwy, Johns Creek, GA 30097</li>
        <li>Time: 1:30pm - 5:30pm</li>
        <li>Please bring your own paddle. We will provide pickleballs.</li>
        <li>Guarenteed four matches</li>
      </ul>
    </div>
    <div class="social-icons">
      <span><a href="https://www.instagram.com/atlpicklebrawl/" target="_blank"><i class="fa-brands fa-instagram"></i></a></span>
      <span><a href="mailto:atlpicklebrawl@gmail.com"><i class="fa-regular fa-envelope"></i></a></span>
    </div>
  </div>
</div>
