<div class="body-container">
  <section>
    <div class="content">
      <div class="main-content">
        <h1 data-aos="fade-right" data-aos-duration="2000">Atl PickleBrawl</h1>
        <h2 data-aos="fade-left" data-aos-duration="2000" data-aos-delay="200">Sign Up Now</h2>
        <h4 data-aos="fade-right" data-aos-duration="2000" data-aos-delay="400">It's always pickleball season </h4>
        <div class="order">
          <button data-aos="zoom-in-left" data-aos-duration="2000" data-aos-delay="800">Sign Up</button>
        </div>
        <p data-aos="flip-down" data-aos-duration="2000" data-aos-delay="600">See Tournament Details Down Below</p>
      </div>
      <div class="image">
        <img src="<%= image_path('pickleball.png') %>" data-aos="zoom-in" data-aos-duration="2000">
      </div>
    </div>
  </section>
</div>
